/restapi/.git
/oldGit
/oldGitWake2

/bin
/build
/arc
/libs
/.metadata
/.settings
/.idea
/.gradle
/gradle
/bu

*.log
*.iml
*.properties
*.iml
gradlew
gradlew.bat
local.properties
.gitattributes

android/bin
android/build
android/arc
android/libs
android/.metadata
android/.settings
android/.idea
android/bu
android/release
android/*.log
android/*.iml
android/*.properties

app/bin
app/build
app/arc
app/libs
app/.metadata
app/.settings
app/.idea
app/bu
app/testalarm
app/*.log
app/*.iml
app/*.properties

fx/bin
fx/build
fx/arc
fx/libs
fx/.metadata
fx/.settings
fx/.idea
fx/bu
fx/*.log
fx/*.iml
fx/*.properties
fx/artifacts
fx/meta-inf

restapi/bin
restapi/build
restapi/arc
restapi/libs
restapi/.metadata
restapi/.settings
restapi/.idea
restapi/bu
restapi/*.log
restapi/*.iml
restapi/*.properties

restapi/core/bin
restapi/core/build
restapi/core/arc
restapi/core/libs
restapi.core/.metadata
restapi/core/.settings
restapi/core/.idea
restapi/core/bu
restapi/core/*.log
restapi/core/*.iml
restapi/core/*.properties

