/restapi/.git
/oldGit
/oldGitWake2

/bin
/build
/arc
/libs
/.metadata
/.settings
/.idea
/bu

android/bin
android/build
android/arc
android/libs
android/.metadata
android/.settings
android/.idea
android/bu
android/release

app/bin
app/build
app/arc
app/libs
app/.metadata
app/.settings
app/.idea
app/bu
app/testalarm

fx/bin
fx/build
fx/arc
fx/libs
fx/.metadata
fx/.settings
fx/.idea
fx/bu

restapi/bin
restapi/build
restapi/arc
restapi/libs
restapi/.metadata
restapi/.settings
restapi/.idea
restapi/bu

restapi/core/bin
restapi/core/build
restapi/core/arc
restapi/core/libs
restapi.core/.metadata
restapi/core/.settings
restapi/core/.idea
restapi/core/bu

*.log