<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.rainrobot.wake.android.activities">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="io.rainrobot.wake.android.configuration.WakeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_clock_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_clock_launcher_round"
        android:supportsRtl="false"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".RunActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        android:noHistory="true" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SingupActivity"
            android:exported="true"
            android:label="@string/title_activity_singup"/>
        <activity
            android:name=".MainMenuActivity"
            android:label="WakeApp" />
        <activity
            android:name=".DeviceEventsActivity"
            android:label="Device Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PresetListActivity"
            android:label="Presets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceRegActivity"
            android:label="New device name" />
        <activity
            android:name=".IsNewDeviceActivity"
            android:label="Is this a new device?" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Device name:" />
        <activity
            android:name=".SelectDeviceActivity"
            android:label="What is this device Name?"/>
        <activity
                android:name=".EnterEmailActivity"
                android:label="Enter your email:"/>
        <activity
                android:name=".EnterNewPasswordActivity"
                android:label="Reset Password"/>
        <activity
            android:name=".EventListActivity"
            android:label="Alarm Events"
            android:screenOrientation="portrait" />
        <activity android:name=".ExampleActivity" />
        <activity android:name=".NewTestEmptyActivity" />
        <activity android:name="io.rainrobot.wake.android.alarm.SnoozeAlarmActivity"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="io.rainrobot.wake.android.alarm.AlarmActivity"
            android:launchMode="singleTask">
        </activity>
        <receiver android:name="io.rainrobot.wake.android.alarm.AlarmReceiver"/>

        <receiver android:name="io.rainrobot.wake.android.alarm.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="io.rainrobot.wake.android.alarm.SchegdualerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
    </application>

</manifest>